.container {
  margin: 50px 0px;
   /* display: inline-table;
    justify-content: center;*/
    width: 85%;
  }
  @media (max-width: 770px) {
    .container {
      margin: 2% 0 !important;
      /*width: 100%;*/
    }
    .image {
      width: 100%;
    }
  }